header{
	background-color: #0020F4;
}
.white-text{
	color: #FFFFFF;
	opacity: 100%;
}
.black-text{
	color: #171717;
	opacity: 100%;
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.article-image{
	width: 1195px;
	height: 362px;
	opacity: 100%;
}